.header {
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    height: 90px;
    background-color: var(--background-color);
    z-index: 99 !important;
}

.wrapper_header {
    width: 96%;
    height: 100%;
    background-color: var(--background-color);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.header_icon {
    color: var(--h-text-color-white);
    cursor: pointer;
}

.h_collection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.h_collection_link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: var(--h-text-color-white);

}

.hover_container_pages {
    position: absolute;
    top: 85px;
    z-index: -1;
    display: none;
}

.hover_container_pages_collection {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    /* margin-right: 35px; */
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--transitions);
}

.hover_container_pages_collection :hover {
    color: var(--h-background-orange-color);
    transition: var(--transitions);
}

.hover_container_pages_items>p {
    padding: 5px;
    border-bottom: 2px solid #012957;
}
.hover_container_pages_items>p:hover{
    border-bottom: 2px solid var(--h-background-orange-color);
}

.h_collection_link:hover .hover_container_pages {
    position: absolute;
    top: 85px;
    display: flex;
    animation: hoverToOpenAnimation .5s linear .1s forwards;
    opacity: 0;
    transition: var(--transitions);
}

.h_collection_link::after {
    content: "";
    height: 3px;
    transition: var(--transitions);
    background-color: var(--h-background-orange-color);
    margin-bottom: -85px;
    width: 0;
    position: absolute;
    left: 50%;
}

.h_collection_link:hover ::after {
    content: "";
    height: 3px;
    transition: var(--transitions);
    background-color: var(--h-background-orange-color);
    margin-bottom: -85px;
    width: 100%;
    position: absolute;
    left: 0;
}

.h_collection_link:hover :last-child ::after {
    content: none;
}

.h_collection_link>svg {
    margin-top: 4px;
    margin-left: 2px;
}

.h_link {
    padding: 0 10px;
}

.h_link:hover {
    color: var(--h-background-orange-color);
    transition: var(--transitions);
}

.h_btn {
    cursor: pointer;
    font-size: 12px;
    height: 35px;
    transition: var(--transitions);
    color: var(--background-color);
    background-color: var(--h-background-orange-color);
    border: 2px solid var(--h-background-orange-color);
    padding: 0 18px;
    font-weight: 600;
    margin-left: 12px;
}

.h_btn:hover {
    font-weight: 600;
    height: 35px;
    color: var(--h-text-color-white);
    background-color: var(--background-color);
    border: 2px solid var(--h-background-orange-color);
    padding: 0 18px;
}

@keyframes hoverToOpenAnimation {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        background-color: var(--background-color);
        transform: translateY(0px);
    }
}