*,
*::after,
*::before {
  margin: 0;
  content: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
.container{
  max-width: var(--max-width-container);
  margin: 0 auto;
  /* overflow-x: hidden; */
}

:root {
  --background-color: #002147;
  --background-color-black: #021429;
  --h-text-color-white: #fff;
  --h-background-orange-color: #fcb900;
  --h-background-orange-color-filter: #fcb90098;
  --transitions: all .5s;
  --max-width-container: 1600px;
}